/* Fonts (notosans by google converted by Font Squirrel) */

@font-face {
  font-family: "noto_sansbold";
  src:
    url("./fonts/notosans-bold-webfont.woff2") format("woff2"),
    url("./fonts/notosans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noto_sansregular";
  src:
    url("./fonts/notosans-regular-webfont.woff2") format("woff2"),
    url("./fonts/notosans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noto_sansitalic";
  src:
    url("./fonts/notosans-italic-webfont.woff2") format("woff2"),
    url("./fonts/notosans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Page it self */
body {
  color: #cdd6f4;
  background: #1e1e2e;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  font-family: noto_sansregular, monospace, sans-serif;
}

article {
  border: 1px solid #b4befe;
  padding: 20px;
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 800px;
}

higlight {
  color: #fdf6f4;
  font-weight: bold;
}
/* link colors */
a {
  color: #89b4fa;
}

a:link {
  color: #89b4fa;
}

a:visited {
  color: #cba6f7;
}

a:focus {
  color: #cba6f7;
}

a:hover {
  color: #cba6f7;
}

/* Hedings */

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}
