/* Fonts (notosans by google converted by Font Squirrel) */

@font-face {
  font-family: "noto_sansbold";
  src:
    url("./fonts/notosans-bold-webfont.woff2") format("woff2"),
    url("./fonts/notosans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noto_sansregular";
  src:
    url("./fonts/notosans-regular-webfont.woff2") format("woff2"),
    url("./fonts/notosans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noto_sansitalic";
  src:
    url("./fonts/notosans-italic-webfont.woff2") format("woff2"),
    url("./fonts/notosans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Page it self */
body {
  color: #ebdbb2;
  background: #282828;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  font-family: noto_sansregular, monospace, sans-serif;
}

article {
  border: 1px solid #d65d0e;
  padding: 20px;
  margin: 2Opx;
  max-width: 600px;
  padding: 20px;
  margin: 2Opx;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

higlight {
  color: #fbf1c7;
  font-weight: bold;
}
/* link colors */
a {
  color: #458588;
}

a:link {
  color: #458588;
}

a:visited {
  color: #b16286;
}

a:focus {
  color: #83a598;
}

a:hover {
  color: #83a598;
}
