/* Fonts (notosans by google converted by Font Squirrel) */

/* Page it self */
body {
  color: #c9c7cd;
  background: #0a0a0a;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.85rem;
  line-height: 1.3;
  font-family: noto_sansregular, sans-serif;
}

article {
  border: 1px solid #e29eca;
  padding: 20px;
  margin: 2Opx;
  margin-left: auto;
  margin-right: auto;
  max-width: 620px;
}

higlight {
  color: #cac9dd;
  font-weight: bold;
}
/* link colors */
a {
  color: #aca1cf;
  text-decoration: none;
}

a:visited {
  color: #90b99f;
  text-decoration: none;
}

a:hover {
  color: #e6b99d;
}

code {
  background: #202828;
  font-family: hack, monospace;
}
